{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "FreeFinance REST API",
    "description" : "The REST API to be used with FreeFinance and FinanzFenster. Please read the examples for an introduction to authentication and some use cases.",
    "contact" : {
      "name" : "manubu gmbh",
      "url" : "https://www.freefinance.at",
      "email" : "support@freefinance.at"
    },
    "version" : "1.18"
  },
  "servers" : [ {
    "url" : "https://app.freefinance.at/api/1.1"
  } ],
  "security" : [ {
    "bearerAuth" : [ ]
  } ],
  "tags" : [ {
    "name" : "CashBasedAccounting",
    "description" : "Cash based accounting - creating rebooks"
  }, {
    "name" : "CashBasedInvoicingIncoming",
    "description" : "Cash based invoicing - incoming invoices"
  }, {
    "name" : "CashBasedInvoicingOutgoing",
    "description" : "Cash based invoicing - incoming invoices"
  }, {
    "name" : "DocumentManagement",
    "description" : "Document management - uploading files and retrieving file content"
  }, {
    "name" : "Foundation",
    "description" : "Foundation services"
  }, {
    "name" : "InvoicingCreditMemo",
    "description" : "Invoicing - manipulating credit memos"
  }, {
    "name" : "InvoicingDeliveryNote",
    "description" : "Invoicing - manipulating delivery notes"
  }, {
    "name" : "InvoicingSetup",
    "description" : "Invoicing - setup data"
  }, {
    "name" : "Invoicing",
    "description" : "Invoicing - manipulating invoices"
  }, {
    "name" : "InvoicingOffer",
    "description" : "Invoicing - manipulating offers"
  }, {
    "name" : "InvoicingOrderConfirmation",
    "description" : "Invoicing - manipulating order confirmations"
  }, {
    "name" : "Items",
    "description" : "Item management"
  }, {
    "name" : "MasterDataCustomer",
    "description" : "Master data - creating and editing customers"
  }, {
    "name" : "MasterDataSupplier",
    "description" : "Master data - creating and editing suppliers"
  }, {
    "name" : "PointOfSale",
    "description" : "Point of Sale - handles cash register terminals, creating receipts, and managing daily closings."
  } ],
  "paths" : {
    "/bank_statements" : {
      "get" : {
        "tags" : [ "BankStatementLines" ],
        "description" : "Returns all bank statement headers created by the API or from PSD2.",
        "operationId" : "getAllBankStatementHeaders",
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BankStatementHeaderDtoV1"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "BankStatementLines" ],
        "description" : "Creates a new bank statement header. Only the header is created, lines are added in a separate call.",
        "operationId" : "postBankStatementHeader",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankStatementHeaderDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankStatementHeaderDtoV1"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/bank_statements/{header_id}" : {
      "get" : {
        "tags" : [ "BankStatementLines" ],
        "description" : "Returns a single bank statement header identified by its id.",
        "operationId" : "getBankStatementHeaderById",
        "parameters" : [ {
          "name" : "header_id",
          "in" : "path",
          "description" : "bank statement id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankStatementHeaderDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Bank statement with this id not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/bank_statements/{header_id}/lines" : {
      "get" : {
        "tags" : [ "BankStatementLines" ],
        "description" : "Returns the lines of a bank statement, limited by date or number.",
        "operationId" : "getBankStatementLines",
        "parameters" : [ {
          "name" : "header_id",
          "in" : "path",
          "description" : "bank statement id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Only return lines with a booking date greater than or equal to this value. Must be set together with to.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "Only return lines with a booking date less than or equal to this value. Must be set together with from.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "line_number_gt",
          "in" : "query",
          "description" : "Only return lines with a line number greater than this value.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankStatementHeaderDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Bank statement with this id not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/bank_statements/{header}/lines" : {
      "post" : {
        "tags" : [ "BankStatementLines" ],
        "description" : "Creates new lines for a bank statement header. The lines will be appended and numbered automatically.",
        "operationId" : "postBankStatementHeaderLines",
        "parameters" : [ {
          "name" : "header",
          "in" : "path",
          "description" : "bank statement header id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankStatementRequestDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankStatementHeaderDtoV1"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/bank_statements/by_bank_account/{bank_account}/lines" : {
      "post" : {
        "tags" : [ "BankStatementLines" ],
        "description" : "Creates new lines for a singular bank statement header tied to a bank account. If no header exists, it will be created. If more than one header exists, an error will be returned. This resource is used for append-only single statements like PSD2.",
        "operationId" : "postBankStatementHeaderLinesByBankAccount",
        "parameters" : [ {
          "name" : "bank_account",
          "in" : "path",
          "description" : "bank account id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankStatementRequestDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankStatementHeaderDtoV1"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/rebooks" : {
      "post" : {
        "tags" : [ "CashBasedAccounting" ],
        "description" : "Creates a new rebook according to the defined rebook type. See the /accounts/rebook_accounts resource for possible accounts to use with the type.",
        "operationId" : "postRebook",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RebookCreationDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RebookJournalDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/incoming_invoices/{invoice}" : {
      "get" : {
        "tags" : [ "CashBasedInvoicingIncoming" ],
        "description" : "Returns an incoming invoice referenced by its id.",
        "operationId" : "getIncomingInvoiceById",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IncomingInvoiceDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "CashBasedInvoicingIncoming" ],
        "description" : "Deletes an unpaid incoming invoice. Single-entry accounting (EA) only.",
        "operationId" : "deleteIncomingInvoice",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully."
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/incoming_invoices" : {
      "get" : {
        "tags" : [ "CashBasedInvoicingIncoming" ],
        "description" : "Returns a list of incoming invoices filtered by optional search parameters. A time span (from-to) must be set to limit results. Note that lines and bookings are not returned, use /incoming_invoices/{invoice_id} to fetch these for a single invoice.",
        "operationId" : "getAllIncomingInvoices",
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "search_text",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "If the invoices should be PAID, UNPAID, or OVERDUE",
          "schema" : {
            "type" : "string",
            "enum" : [ "ANY", "PAID", "UNPAID", "OVERDUE" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/IncomingInvoiceDtoV1"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "CashBasedInvoicingIncoming" ],
        "description" : "Creates an incoming invoice. Accounts can be found in the /accounts resource. Note that depending on the financial settings, the invoice must be paid. Additionally, for double-entry accounting the invoice is always booked immediately.",
        "operationId" : "postIncomingInvoice",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IncomingInvoiceCreationDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IncomingInvoiceReturnV1Dto"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          },
          "404" : {
            "description" : "Account not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/incoming_invoices/{invoice}/bookings/{booking}" : {
      "get" : {
        "tags" : [ "CashBasedInvoicingIncoming" ],
        "description" : "Returns a single booking for an incoming invoice.",
        "operationId" : "getIncomingInvoiceBookingById",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        }, {
          "name" : "booking",
          "in" : "path",
          "description" : "Booking id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "6f0ae84a-0517-42b1-b90b-284f9eb9b475"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InvoiceBookingDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice or booking not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/incoming_invoices/{invoice}/bookings" : {
      "get" : {
        "tags" : [ "CashBasedInvoicingIncoming" ],
        "description" : "Returns all bookings for an incoming invoice.",
        "operationId" : "getIncomingInvoiceBookings",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InvoiceBookingDtoV1"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/incoming_invoices/{invoice}/journals/{journal}" : {
      "get" : {
        "tags" : [ "CashBasedInvoicingIncoming" ],
        "description" : "Returns a specific journal booked from an incoming invoice. The booking need not be specified.",
        "operationId" : "getIncomingInvoiceJournalById",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        }, {
          "name" : "journal",
          "in" : "path",
          "description" : "Journal id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "A2020 1"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JournalDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice or journal not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/incoming_invoices/{invoice}/journals" : {
      "get" : {
        "tags" : [ "CashBasedInvoicingIncoming" ],
        "description" : "Returns all journals booked from an incoming invoice. The bookings need not be specified.",
        "operationId" : "getIncomingInvoiceJournals",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JournalDtoV1"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/incoming_invoices/{invoice}/bookings/{booking}/cancel" : {
      "post" : {
        "tags" : [ "CashBasedInvoicingIncoming" ],
        "description" : "Cancels a specific booking for an incoming invoice. Only payment and rest payment bookings can be cancelled.",
        "operationId" : "postIncomingInvoiceBookingCancel",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        }, {
          "name" : "booking",
          "in" : "path",
          "description" : "Booking id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "6f0ae84a-0517-42b1-b90b-284f9eb9b475"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CancellationDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IncomingInvoiceReturnV1Dto"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          },
          "404" : {
            "description" : "invoice or booking not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/incoming_invoices/{invoice}/cancel" : {
      "post" : {
        "tags" : [ "CashBasedInvoicingIncoming" ],
        "description" : "Cancels an incoming invoice.",
        "operationId" : "postIncomingInvoiceCancel",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CancellationDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IncomingInvoiceReturnV1Dto"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/incoming_invoices/{invoice}/pay" : {
      "post" : {
        "tags" : [ "CashBasedInvoicingIncoming" ],
        "description" : "Registers a payment for an incoming invoice. Partial payments are only supported in double-entry accounting.",
        "operationId" : "postIncomingInvoicePayment",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CbiPaymentDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IncomingInvoiceReturnV1Dto"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/incoming_invoices/{invoice}/pay_rest" : {
      "post" : {
        "tags" : [ "CashBasedInvoicingIncoming" ],
        "description" : "Registers the rest payment for an incoming invoice (like discount), which marks the invoice as paid. Double-entry accounting only.",
        "operationId" : "postIncomingInvoicePaymentRest",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RestPaymentDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IncomingInvoiceReturnV1Dto"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/outgoing_invoices/{invoice}" : {
      "get" : {
        "tags" : [ "CashBasedInvoicingOutgoing" ],
        "description" : "Returns an outgoing invoice referenced by its id.",
        "operationId" : "getOutgoingInvoiceById",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OutgoingInvoiceDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "CashBasedInvoicingOutgoing" ],
        "description" : "Deletes an unpaid outgoing invoice. Single-entry accounting (EA) only.",
        "operationId" : "deleteOutgoingInvoice",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully."
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/outgoing_invoices" : {
      "get" : {
        "tags" : [ "CashBasedInvoicingOutgoing" ],
        "description" : "Returns a list of outgoing invoices filtered by optional search parameters. A time span (from-to) must be set to limit results. Note that lines and bookings are not returned, use /outgoing_invoices/{invoice_id} to fetch these for a single invoice.",
        "operationId" : "getAllOutgoingInvoices",
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "search_text",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "If the invoices should be PAID, UNPAID, or OVERDUE",
          "schema" : {
            "type" : "string",
            "enum" : [ "ANY", "PAID", "UNPAID", "OVERDUE" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OutgoingInvoiceDtoV1"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "CashBasedInvoicingOutgoing" ],
        "description" : "Creates an outgoing invoice. Accounts can be found in the /accounts resource. Note that depending on the financial settings, the invoice must be paid. Additionally, for double-entry accounting the invoice is always booked immediately.",
        "operationId" : "postOutgoingInvoice",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OutgoingInvoiceCreationDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OutgoingInvoiceReturnV1Dto"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          },
          "404" : {
            "description" : "Account not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/outgoing_invoices/{invoice}/bookings/{booking}" : {
      "get" : {
        "tags" : [ "CashBasedInvoicingOutgoing" ],
        "description" : "Returns a single booking for an outgoing invoice.",
        "operationId" : "getOutgoingInvoiceBookingById",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        }, {
          "name" : "booking",
          "in" : "path",
          "description" : "Booking id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "6f0ae84a-0517-42b1-b90b-284f9eb9b475"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OutgoingInvoiceDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice or booking not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/outgoing_invoices/{invoice}/bookings" : {
      "get" : {
        "tags" : [ "CashBasedInvoicingOutgoing" ],
        "description" : "Returns all bookings for an outgoing invoice.",
        "operationId" : "getOutgoingInvoiceBookings",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InvoiceBookingDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/outgoing_invoices/{invoice}/journals/{journal}" : {
      "get" : {
        "tags" : [ "CashBasedInvoicingOutgoing" ],
        "description" : "Returns a specific journal booked from an outgoing invoice. The booking need not be specified.",
        "operationId" : "getOutgoingInvoiceJournalById",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        }, {
          "name" : "journal",
          "in" : "path",
          "description" : "Journal id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "E2020 1"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JournalDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice or booking not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/outgoing_invoices/{invoice}/journals" : {
      "get" : {
        "tags" : [ "CashBasedInvoicingOutgoing" ],
        "description" : "Returns all journals booked from an outgoing invoice. The bookings need not be specified.",
        "operationId" : "getOutgoingInvoiceJournals",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JournalDtoV1"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/outgoing_invoices/{invoice}/bookings/{booking}/cancel" : {
      "post" : {
        "tags" : [ "CashBasedInvoicingOutgoing" ],
        "description" : "Cancels a specific booking for an outgoing invoice. Only payment and rest payment bookings can be cancelled.",
        "operationId" : "postOutgoingInvoiceBookingCancel",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        }, {
          "name" : "booking",
          "in" : "path",
          "description" : "Booking id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "6f0ae84a-0517-42b1-b90b-284f9eb9b475"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CancellationDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OutgoingInvoiceReturnV1Dto"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          },
          "404" : {
            "description" : "invoice or booking not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/outgoing_invoices/{invoice}/cancel" : {
      "post" : {
        "tags" : [ "CashBasedInvoicingOutgoing" ],
        "description" : "Cancels an outgoing invoice.",
        "operationId" : "postOutgoingInvoiceCancel",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CancellationDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OutgoingInvoiceReturnV1Dto"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/outgoing_invoices/{invoice}/pay" : {
      "post" : {
        "tags" : [ "CashBasedInvoicingOutgoing" ],
        "description" : "Registers a payment for an outgoing invoice. Partial payments are only supported in double-entry accounting.",
        "operationId" : "postOutgoingInvoicePayment",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CbiPaymentDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OutgoingInvoiceReturnV1Dto"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/outgoing_invoices/{invoice}/pay_rest" : {
      "post" : {
        "tags" : [ "CashBasedInvoicingOutgoing" ],
        "description" : "Registers the rest payment for an outgoing invoice (like discount), which marks the invoice as paid. Double-entry accounting only.",
        "operationId" : "postOutgoingInvoicePaymentRest",
        "parameters" : [ {
          "name" : "invoice",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RestPaymentDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OutgoingInvoiceReturnV1Dto"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/accounts/{account}" : {
      "get" : {
        "tags" : [ "CashBasedSetup" ],
        "description" : "Returns a specific account by its account number.",
        "operationId" : "getAccountById",
        "parameters" : [ {
          "name" : "account",
          "in" : "path",
          "description" : "Account code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 4000
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Account not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/accounts/balances" : {
      "get" : {
        "tags" : [ "CashBasedSetup" ],
        "description" : "Returns the account balances over the specified time period, calculated as the sum of all bookings.",
        "operationId" : "getAccountSumBalances",
        "parameters" : [ {
          "name" : "method",
          "in" : "query",
          "description" : "Calculation method to use, default is N (net).",
          "schema" : {
            "type" : "string",
            "enum" : [ "N,T" ]
          },
          "example" : "N"
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Include bookings from this date onward. Defaults to beginning of this year.",
          "schema" : {
            "type" : "string"
          },
          "example" : "2020-01-01"
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "Include bookings up to this date. Defaults to end of this year.",
          "schema" : {
            "type" : "string"
          },
          "example" : "2020-12-31"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Account type code to filter (if available), examples are E (revenue), M (revenue gastronomy), A (expenses), L (assets), S (miscellaneous), U (cash, rebooks, etc.)",
          "schema" : {
            "type" : "string",
            "enum" : [ "E, A, L, W, G, Z, S, F, U, C, M, N, P, R, B" ]
          },
          "example" : "E"
        }, {
          "name" : "opening_balances",
          "in" : "query",
          "description" : "If opening balances should be included in the calculation",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "closing_entries",
          "in" : "query",
          "description" : "If closing entries should be included in the calculation",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "filterNullValues",
          "in" : "query",
          "description" : "Whether values that add up to 0 should be shown or not",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "compactReceivables",
          "in" : "query",
          "description" : "Group payables/receivables accounts together",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "dbhCreditDebit",
          "in" : "query",
          "description" : "Split results into credit and debit (ignored if no double-entry accounting)",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AccountDtoV1"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/accounts/balances_per_month" : {
      "get" : {
        "tags" : [ "CashBasedSetup" ],
        "description" : "Returns the account balances over the specified time period, calculated as the sum of all bookings per month.",
        "operationId" : "getAccountSumBalancesPerMonth",
        "parameters" : [ {
          "name" : "fiscal_year",
          "in" : "query",
          "description" : "The fiscal year as basis for the balance calculation",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "example" : 2021
        }, {
          "name" : "opening_balances",
          "in" : "query",
          "description" : "If opening balances should be included in the calculation",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "closing_entries",
          "in" : "query",
          "description" : "If closing entries should be included in the calculation",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "totals",
          "in" : "query",
          "description" : "If totals should be calculated for each account",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "method",
          "in" : "query",
          "description" : "Calculation method to use (net or total), default is N (net)",
          "schema" : {
            "type" : "string",
            "enum" : [ "N,T" ]
          },
          "example" : "N"
        }, {
          "name" : "filterNullValues",
          "in" : "query",
          "description" : "Whether values that add up to 0 should be shown or not",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "compactReceivables",
          "in" : "query",
          "description" : "Group payables/receivables accounts together",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AccountLineDtoV1"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/accounts/{account}/tax_class_entries" : {
      "get" : {
        "tags" : [ "CashBasedSetup" ],
        "description" : "Returns all tax class entries for an account. A tax class entry references a specific tax rate for a business document line or item.",
        "operationId" : "getAccountTaxClassEntryBulk",
        "parameters" : [ {
          "name" : "account",
          "in" : "path",
          "description" : "Account code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 4000
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TaxClassEntryDtoV1"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Account not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/accounts/{account}/tax_class_entries/{tax_class_entry}" : {
      "get" : {
        "tags" : [ "CashBasedSetup" ],
        "description" : "Returns a specific tax class entry for an account.",
        "operationId" : "getAccountTaxClassEntryById",
        "parameters" : [ {
          "name" : "account",
          "in" : "path",
          "description" : "Account code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 4000
        }, {
          "name" : "tax_class_entry",
          "in" : "path",
          "description" : "Tax class entry code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "020"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaxClassEntryDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Account or tax class entry not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/accounts" : {
      "get" : {
        "tags" : [ "CashBasedSetup" ],
        "description" : "Returns all accounts. Accounts are required for cash based invoicing and business document lines and can be optionally added to items. Every account has one or multiple tax class entries, which define the tax rate for the line.",
        "operationId" : "getAllAccounts",
        "parameters" : [ {
          "name" : "type",
          "in" : "query",
          "description" : "Account type code to filter (if available), examples are E (revenue), M (revenue gastronomy), A (expenses), L (assets), S (miscellaneous), U (cash, rebooks, etc.)",
          "schema" : {
            "type" : "string",
            "enum" : [ "E, A, L, W, G, Z, S, F, U, C, M, N, P, R, B" ]
          },
          "example" : "E"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AccountDtoV1"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/accounts/item_accounts" : {
      "get" : {
        "tags" : [ "CashBasedSetup" ],
        "description" : "Returns all accounts that can be used for items. This includes income, receivables and coupon accounts.",
        "operationId" : "getAllAccountsItem",
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AccountDtoV1"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/accounts/rebook_accounts" : {
      "get" : {
        "tags" : [ "CashBasedSetup" ],
        "description" : "Returns all accounts that are available as the from-account in rebooks, depending on type.",
        "operationId" : "getAllAccountsRebook",
        "parameters" : [ {
          "name" : "type",
          "in" : "query",
          "description" : "Rebook type: REBOOK (default), CORRECTION, FINALIZATION (for special bookings)",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "REBOOK", "CORRECTION", "FINALIZATION", "BALANCE" ]
          },
          "example" : "REBOOK"
        }, {
          "name" : "date",
          "in" : "query",
          "description" : "Effective date of accounts, defaults to today",
          "schema" : {
            "type" : "string"
          },
          "example" : "2020-12-31"
        }, {
          "name" : "search",
          "in" : "query",
          "description" : "Additional filter string, optional",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AccountDtoV1"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/accounts/{account}/rebook_contra_accounts" : {
      "get" : {
        "tags" : [ "CashBasedSetup" ],
        "description" : "Returns all accounts that are available as the to-account in rebooks, depending on the type and from-account.",
        "operationId" : "getAllAccountsRebookContra",
        "parameters" : [ {
          "name" : "account",
          "in" : "path",
          "description" : "Account code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 4000
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Rebook type: REBOOK (default), CORRECTION, FINALIZATION (for special bookings)",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "REBOOK", "CORRECTION", "FINALIZATION", "BALANCE" ]
          },
          "example" : "REBOOK"
        }, {
          "name" : "date",
          "in" : "query",
          "description" : "Effective date of accounts, defaults to today",
          "schema" : {
            "type" : "string"
          },
          "example" : "2020-01-01"
        }, {
          "name" : "search",
          "in" : "query",
          "description" : "Additional filter string, optional",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountDtoV1"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          },
          "404" : {
            "description" : "Account not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/accounts/receipt_accounts" : {
      "get" : {
        "tags" : [ "CashBasedSetup" ],
        "description" : "Returns all accounts that can be used for item lines in cash register receipts. This includes income and receivables accounts.",
        "operationId" : "getAllAccountsReceipt",
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AccountDtoV1"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/bank_accounts/{bank_account}" : {
      "get" : {
        "tags" : [ "CashBasedSetup" ],
        "description" : "Get a specific bank account by id",
        "operationId" : "getBankAccountById",
        "parameters" : [ {
          "name" : "bank_account",
          "in" : "path",
          "description" : "Bank account id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankAccountDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Bank account not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/bank_accounts" : {
      "get" : {
        "tags" : [ "CashBasedSetup" ],
        "description" : "Returns all bank accounts.",
        "operationId" : "getBankAccounts",
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BankAccountDtoV1"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/documents/staging" : {
      "get" : {
        "tags" : [ "DocumentManagement" ],
        "description" : "Returns all current documents in the designated staging folder.",
        "operationId" : "getAllStaging",
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DocumentWithMetadataDtoV1"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "DocumentManagement" ],
        "description" : "Creates a new document in the staging folder and uploads one or multiple files in a multipart request. The metadata body defines optional attributes to add to the document. The multipart attachment can be one file of a supported type (PDF, images) or multiple images, which are then merged into a single PDF in the backend. See the examples for a multipart request.",
        "operationId" : "postStaging",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/DocumentUploadDtoV1"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentWithMetadataDtoV1"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/documents/{provider}/{providerId}/binary" : {
      "get" : {
        "tags" : [ "DocumentManagement" ],
        "description" : "Returns a specific document and its metadata. The path parameter consists of the document provider (internal DMS, or external like Dropbox) and the provider id for the file.",
        "operationId" : "getDocument",
        "parameters" : [ {
          "name" : "provider",
          "in" : "path",
          "description" : "Provider (DMS or DROPBOX)",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "DMS", "DROPBOX", "GOOGLE_DRIVE", "NEXTCLOUD", "ONEDRIVE" ]
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "description" : "Provider designated id for the document",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentWithMetadataDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Document not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/documents/{provider}/{providerId}" : {
      "get" : {
        "tags" : [ "DocumentManagement" ],
        "description" : "Returns the binary data for a document.",
        "operationId" : "getDocumentBinary",
        "parameters" : [ {
          "name" : "provider",
          "in" : "path",
          "description" : "Provider (DMS or DROPBOX)",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "DMS", "DROPBOX", "GOOGLE_DRIVE", "NEXTCLOUD", "ONEDRIVE" ]
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "description" : "Provider designated id for the document",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "404" : {
            "description" : "Document not found.",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/documents/staging/json" : {
      "post" : {
        "tags" : [ "DocumentManagement" ],
        "description" : "Creates a new document in the staging folder and uploads a base64-encoded file. The metadata defines optional attributes to add to the document.",
        "operationId" : "postStagingJson",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DocumentJsonUploadDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentWithMetadataDtoV1"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/countries" : {
      "get" : {
        "tags" : [ "Foundation" ],
        "description" : "Returns all countries.",
        "operationId" : "getAllCountries",
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CountryDtoV1"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/countries/{country}/regions" : {
      "get" : {
        "tags" : [ "Foundation" ],
        "description" : "Get all regions for a country",
        "operationId" : "getAllRegions",
        "parameters" : [ {
          "name" : "country",
          "in" : "path",
          "description" : "Country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "AT"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RegionDtoV1"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Country not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/countries/{country}" : {
      "get" : {
        "tags" : [ "Foundation" ],
        "description" : "Returns a specific country by its country code.",
        "operationId" : "getCountry",
        "parameters" : [ {
          "name" : "country",
          "in" : "path",
          "description" : "Country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "AT"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CountryDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Country not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/countries/{country}/regions/{region}" : {
      "get" : {
        "tags" : [ "Foundation" ],
        "description" : "Get a specific region for a country",
        "operationId" : "getRegion",
        "parameters" : [ {
          "name" : "country",
          "in" : "path",
          "description" : "Country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "AT"
        }, {
          "name" : "region",
          "in" : "path",
          "description" : "Region code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "STMK"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegionDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Country or region not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/currencies" : {
      "get" : {
        "tags" : [ "Foundation" ],
        "description" : "Returns all currencies.",
        "operationId" : "getAllCurrencies",
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CurrencyDtoV1"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/notifications" : {
      "post" : {
        "tags" : [ "Foundation" ],
        "description" : "Returns all unread notifications and marks them as read.",
        "operationId" : "getUnreadNotifications",
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/NotificationDtoV1"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/session" : {
      "delete" : {
        "tags" : [ "Foundation" ],
        "description" : "Revokes the active session and invalidates the refresh token.",
        "operationId" : "revokeSession",
        "parameters" : [ {
          "name" : "refresh_token",
          "in" : "query",
          "description" : "Current refresh token of the session.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "Operation completed successfully."
          }
        }
      }
    },
    "/units_of_measure" : {
      "get" : {
        "tags" : [ "Foundation" ],
        "description" : "Returns all units of measure.",
        "operationId" : "getAllUnitsOfMeasure",
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UnitOfMeasureDtoV1"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/credit_memos/{credit_memo}/payments/{payment}/cancel" : {
      "post" : {
        "tags" : [ "InvoicingCreditMemo" ],
        "description" : "Cancels a payment for a credit memo.",
        "operationId" : "cancelCreditMemoPayment",
        "parameters" : [ {
          "name" : "credit_memo",
          "in" : "path",
          "description" : "Credit memo number",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "G 2016-0001"
        }, {
          "name" : "payment",
          "in" : "path",
          "description" : "Payment id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Payment cancellation info",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentCancellationDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PaymentHistoryDtoV1"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          },
          "404" : {
            "description" : "Invoice or payment not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/credit_memos" : {
      "get" : {
        "tags" : [ "InvoicingCreditMemo" ],
        "description" : "Returns all finalized and external credit memos. Documents created for staging do not have a number and are therefore not returned over the API.",
        "operationId" : "getAllCreditMemos",
        "parameters" : [ {
          "name" : "updated_since",
          "in" : "query",
          "description" : "Return only documents updated after this timestamp in milliseconds (Instant.now().toEpochMilli())",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 1479497595571
        }, {
          "name" : "paid",
          "in" : "query",
          "description" : "Return only paid (true) or unpaid (false) credit memos",
          "schema" : {
            "type" : "boolean"
          },
          "example" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CreditMemoDtoV1"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "InvoicingCreditMemo" ],
        "description" : "Creates a new credit memo. Depending on the supplied state, credit memos are either created for staging (and completed manually) or immediately finalized. Once finalized, a number is assigned and the PDF is created. If a number is coming from an external system, the EXTERNAL state and an id must be set. External documents cannot be edited and no PDF is created.",
        "operationId" : "postCreditMemo",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreditMemoDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreditMemoDtoV1"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/credit_memos/{credit_memo}" : {
      "get" : {
        "tags" : [ "InvoicingCreditMemo" ],
        "description" : "Returns a specific credit memo by its number. Staging documents cannot be retrieved with this resource.",
        "operationId" : "getCreditMemo",
        "parameters" : [ {
          "name" : "credit_memo",
          "in" : "path",
          "description" : "Credit memo number",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "G 2016-0001"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreditMemoDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Credit memo not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/credit_memos/{credit_memo}/bookings" : {
      "get" : {
        "tags" : [ "InvoicingCreditMemo" ],
        "description" : "Returns all non-payment bookings for a specific credit memo.",
        "operationId" : "getCreditMemoBookings",
        "parameters" : [ {
          "name" : "credit_memo",
          "in" : "path",
          "description" : "Credit memo number",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "G 2016-0001"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PaymentHistoryDtoV1"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Credit memo  not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/credit_memos/{credit_memo}/document" : {
      "get" : {
        "tags" : [ "InvoicingCreditMemo" ],
        "description" : "Returns the current PDF document of a specific credit memo as binary data.",
        "operationId" : "getCreditMemoDocument",
        "parameters" : [ {
          "name" : "credit_memo",
          "in" : "path",
          "description" : "Credit memo number",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "G 2016-0001"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "404" : {
            "description" : "Credit memo or document not found.",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/credit_memos/{credit_memo}/payments" : {
      "get" : {
        "tags" : [ "InvoicingCreditMemo" ],
        "description" : "Returns all payments for a specific credit memo.",
        "operationId" : "getCreditMemoPayments",
        "parameters" : [ {
          "name" : "credit_memo",
          "in" : "path",
          "description" : "Credit memo number",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "G 2016-0001"
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PaymentHistoryDtoV1"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Credit memo not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "InvoicingCreditMemo" ],
        "description" : "Creates a new payment for a credit memo. ",
        "operationId" : "postCreditMemoPayment",
        "parameters" : [ {
          "name" : "credit_memo",
          "in" : "path",
          "description" : "Credit memo number",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "G 2016-0001"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreditMemoPaymentDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PaymentHistoryDtoV1"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          },
          "404" : {
            "description" : "Credit memo  not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/credit_memos/{credit_memo}/cancel" : {
      "post" : {
        "tags" : [ "InvoicingCreditMemo" ],
        "description" : "Cancels a specific credit memo. Only finalized or external documents can be cancelled.",
        "operationId" : "postCreditMemoCancel",
        "parameters" : [ {
          "name" : "credit_memo",
          "in" : "path",
          "description" : "Credit memo number",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "G 2016-0001"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BusinessDocumentCancelDtoV1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreditMemoDtoV1"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          },
          "404" : {
            "description" : "Credit memo not found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/delivery_notes" : {
      "get" : {
        "tags" : [ "InvoicingDeliveryNote" ],
        "description" : "Returns all finalized and external delivery notes. Documents created for staging do not have a number and are therefore not returned over the API.",
        "operationId" : "getAllDeliveryNotes",
        "parameters" : [ {
          "name" : "updated_since",
          "in" : "query",
          "description" : "Return only documents updated after this timestamp in milliseconds (Instant.now().toEpochMilli())",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 1479497595571
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PaymentHistoryDtoV1"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "InvoicingDeliveryNote" ],
        "description" : "Creates a new delivery note. Depending on the supplied state, delivery notes are either created for staging (and completed manually) or immediately finalized. Once finalized, a number is assigned and the PDF created. If a number is coming from an external system, the EXTERNAL state and an id must be set. External documents cannot be edited and no PDF is created.",
        "operationId" : "postDeliveryNote",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeliveryNoteDtoV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeliveryNoteDtoV1"
                }
              }
            }
          },
          "400" : {
            "description" : "Input invalid. Further information in the RestError response.",
            "content" : {
              "application/json" : {
[...]
